/* .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.accordion-item {
    border: none;
}

button.accordion-button.collapsed {
    padding-left: 4px;
}

button.accordion-button {
    padding-left: 4px;
}

.accordion-body {
    padding: 10px;
} */

.customLabel {
    min-width: 80px;
}

.customDropdown.show>.btn-primary.dropdown-toggle:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.custom-label-ap {
    min-width: 210px;
}

.row-ad {
    margin-bottom: 8px;
}

.customDropdown .dropdown-toggle {
    max-width: 455px;
    white-space: normal;
    text-align: left;
}

.row-search {
    margin: 8px 0 20px;
}

.new-publication .dropdown-toggle {
    max-width: 100%;
}

.custom-according .accordion-header button{
    color: #0c63e4;
    padding: 10px;
}

.custom-according .accordion-body{
    padding: 10px;
}

.custom-according .accordion-button:focus {
    box-shadow: none;
}

.custom-according span{
    cursor: pointer;
    color: #0c63e4;
    text-decoration: underline;
}